body{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
ul{
list-style: none;
display: flex;
flex-direction: row;
margin: 0;
padding: 0;
}
ul li{
    color:white;
    font-size: 100px;
    font-weight: bold;
    font-family: sans-serif;
    transition: all 2s;
    letter-spacing: 12px;

}
ul:hover li{
    transform: rotate(45deg) translateY(-200px);
    opacity: 0;
    filter:blur(25px);
}

li:nth-child(2){
    transition-delay: 0.4s;
}
li:nth-child(3){
    transition-delay: 0.8s;
}
li:nth-child(4){
    transition-delay: 1.2s;
}
li:nth-child(5){
    transition-delay: 1.6s;
}