body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}
a {
  text-decoration: none;
  color: aliceblue;
  border: 3px solid whitesmoke;
  padding: 40px 80px;
  font-size: 28px;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}
a::before {
  content: "";
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%) rotate(45deg);
  transition: all 0.7s;
}
a:hover::before {
  transform: translateX(100%) rotate(45deg);
}
a:hover {
  background-color: rgb(0, 0, 0);
}
